
#main{
    width:100%;
}
.app-root{
    margin: 30px auto;
    width: 800px;
    font-size: 1.25em;
}
.title-bar{
    text-align: center;
    color: #373737;
}

.d3StockChart{
    background-color: #5d5d5d;
}

.axis path,
.axis line{
    fill: none;
    stroke: #c0c0c0;
    shape-rendering: crispEdges;
}
.axis text{
    fill: #c0c0c0;
}

.trendline{
    fill: none;
    stroke-width: 2px;
}
.panel-body{
    height: 80px;
    overflow: auto;
}
.panel .panel-heading{
    font-weight: bold;
}

.input-error{
    color:red;
    font-size: larger;
    font-weight: bold;
}

.tooltip h4{
    margin:5px;
}
